@model Tutorias.Models.Tutor

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers;
@addTagHelper *, AuthoringTagHelpers;

@{
    ViewData["Title"] = "Create";
}

<h1>Registrarse</h1>

<h5>Tutor</h5>
<hr />

<form asp-action="Create" class="mt-2">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-6">
            <div class="form-group mt-2">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="Email" class="control-label">Correo Electrónico</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group mt-2">
                <label asp-for="Description" class="control-label">Descripción</label>
                <textarea asp-for="Description" class="form-control" placeholder="¡Cuéntanos sobre ti!"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>

        <div class="col-6 mt-2">
            <div class="form-group mt-2">
                <input type="" value="Seleccionar Categorías" class="btn btn-primary" />
            </div>

            <div class="form-group mt-2">
                <input type="" value="Seleccionar Materias" class="btn btn-primary" />
            </div>
        </div>
        <div class="form-group mt-4 d-flex flex-row-reverse">
            <input type="submit" value="Registrarse" class="btn btn-outline-success" />
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}