@model Tutorias.Models.Tutor

@{
    ViewData["Title"] = "Details";
}
<div class="card-body">
    <a class="btn btn-primary" asp-action="Index" role="button">Regresar</a>
</div>

<div class="container" style="margin-top: 20px;">
    <div class="jumbotron">
        <div class="row">
            <div class="col-4">
                <img class="card-img-top" style="border-radius: 50%; padding:15px; object-fit: cover;"
                    src="/Images/unnamed.jpg" alt="Foto @Model.Name" width="300px" height="100%">
            </div>
            <div class="col-7" style="margin: 2%;">
                <div>
                    <h2>@Model.Name</h2>
                </div>
                <div class="j">
                    <h5>@Model.Description</h5>
                </div>
            </div>
        </div>
    </div>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>