@{
    ViewData["Title"] = "Acerca De";
}
<h1>@ViewData["Title"]</h1>

<p>Página de tutorías creada para énfasis profesional</p>

<p>Juan Camilo Uribe Villa</p>
<p>Natalia Segura Ramírez</p>
<p>Jhonny Quiroz Acosta</p>

