@model Tutorias.Models.Tutor

@{
    ViewData["Title"] = "Login";
}
<div class="jumbotron border rounded md-offset-8">
    <div class="">
        <div class="row d-flex align-content-center justify-content-center flex-wrap m-lg-5">
            <div class=" col-12 mt-4">
                <label asp-for="Email" class="control-label">Correo Electrónico</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-12 mt-4">
                <label asp-for="Name" class="control-label">Contraseña</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mt-lg-5">
                <input type="submit" value="Registrarse" class="btn btn-outline-success" />
            </div>
        </div>
    </div>
</div>